body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/src/assets/img/home_slider.jpg);
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
}

